[submodule "external/condensed-sparsity"]
	path = external/condensed-sparsity
	url = https://github.com/calgaryml/condensed-sparsity.git
[submodule "external/rigl-torch"]
	path = external/rigl-torch
	url = https://github.com/verbiiyo/rigl-torch.git
[submodule "classification/pytorch-image-models"]
	path = classification/pytorch-image-models
	url = https://github.com/huggingface/pytorch-image-models.git
[submodule "ssl/lightly"]
	path = ssl/lightly
	url = https://github.com/lightly-ai/lightly.git
